<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mukundvis.twitnews" >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeToolbar"
            android:logo="@drawable/ic_launcher"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.KnowledgeBaseActivity"
            android:parentActivityName=".activities.DashboardActivity"
            android:label="@string/title_kb" >
        </activity>
        <activity
            android:name=".activities.ShowTweetActivity"
            android:parentActivityName=".activities.DashboardActivity"
            android:theme="@style/AppThemeToolbar"
            android:label="@string/title_show_tweet" >
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.DashboardActivity"
            android:label="@string/title_settings" >
        </activity>
        <activity
            android:name=".activities.HowItWorksActivity"
            android:parentActivityName=".activities.DashboardActivity"
            android:label="@string/title_how_it_works" >
        </activity>

        <service android:name=".services.SyncTweetsService" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bb1a3a1ced3514021724bd265801b0a0d09567bc" />

        <provider android:name=".providers.TweetProvider"
            android:authorities="com.mukundvis.twitnews.provider.Tweet" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
